<h3>@(@server.IsOnline ? "Online" : "Offline" ) at @DateTime.Now</h3>

<p>
    @server.Name is in @server.City 
</p>

@code {

    private Server server = new Server()
    {
        Name = "Server 1",
        City = "Texas"
    };

}